* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}

/* .admission {
	background-color: white !important;
}
.admission a {
	color: #39393a !important;
} */

.section1 {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url(./img/img1.jpg) center/cover;
	background-attachment: fixed;
	width: 100%;
	height: 65vh;
	min-height: 386px;
	top: var(--nav-height);
}
.section1::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.048);

	z-index: 0;
}

.title {
	margin-top: 1.5rem;
	outline: 5px solid rgb(37, 154, 233);
	padding: 4rem 6rem 4rem 6rem;
	color: rgb(37, 154, 233);
	font-size: 2rem;
	z-index: 2;
}

::placeholder {
	text-align: center;
}

.application-formdiv
{
	width: 100%;
}

.application {
	background: url(./img/bg2.jpg) center/cover;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	left: 15%;
	border-radius: 1%;
	box-shadow: 5px 5px 10px  black;
	width: 72%;
	top: 100px;
}

.headone {
	color: #fff;
	text-align: center;
	padding: 5% 5% 0% 5%;
	font-size: 50px;
}

.application-form {
	margin: 0% 10%;
	overflow: hidden;
	display: flex;
	padding: 50px;
	position: relative;
	flex-direction: column;
	border-radius: 1.5%;
}
.flex {
	display: flex;
	flex-direction: column;
	margin: 1%;
	z-index: 1;
}

label {
	padding-bottom: 1%;
	color: rgb(0, 0, 0);
	font-size: 20px;
	color: rgb(255, 255, 255);
	z-index: 1;
}
input {
	border: 1px solid rgb(143, 140, 140);
	border-radius: 7px;
}
option {
	border-radius: 7px;
	background-color: rgb(213, 214, 211);
	color: rgb(0, 0, 0);
}

.atagwhite {
	color: #fff;
	text-decoration: none;
}
.atagwhite:hover {
	color: orange;
}

.height {
	border: 1px solid rgb(143, 140, 140);
	/* box-shadow: 2px 5px 10px rgb(143, 140, 140); */
	font-size: 18px;
	border-radius: 7px;
}
.input-css {
	border: none;
	border-radius: 7px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.678);
	color: rgb(0, 0, 0);
	font-size: 20px;
	text-align: center;
}

.checkbox {
	text-align: center;
	z-index: 1;
	padding-top: 3%;
}
.flex input {
	height: 40px;
	border: none;
	box-shadow: 2px 2px 10px rgb(255 255 255 / 10%),
		-2px -2px 10px rgb(255 255 255 / 10%);
	background-color: rgba(255, 255, 255, 0.678);
	color: rgb(0, 0, 0);
	font-size: 20px;
	text-align: center;
}

.form-group input {
	width: 19.55%;
}
.height {
	width: 50px;
}
.flex .gender input {
	height: 14px;
	box-shadow: none;
	margin: 12px 15px;
}
.submit {
	display: flex;
	align-items: center;
	z-index: 1;
	justify-content: center;
}
.submit-btn {
	padding: 10px;
	margin-top: 3%;
	background-color: rgb(32, 113, 219);
	color: #fff;
	width: 20%;
	border: none;
}
.submit-btn:hover {
	color: rgb(255, 255, 255);
	background-color: rgba(32, 113, 219, 0.671);
}

.images {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.images h2 {
	font-size: 50px;
	padding: 2%;
	margin-top: 8%;
}
.brimgdiv {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin-bottom: 1%;
	transition: all 1s ease-in-out;
}

.brimage {
	width: 45%;
	padding: 10px;
}

.download {
	padding: 1%;
	text-decoration: none;
	color: #fff;
	background-color: rgb(32, 113, 219);
	border-radius: 10%;
}
.download:hover {
	color: rgb(32, 113, 219);
	background-color: rgba(32, 113, 219, 0.425);
}

.small-input {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
}

.small-input input {
	width: 23%;
}


@media (max-width : 800px) {
	.brimgdiv
	{
		flex-direction: column;
	}
	.brimage
	{
		width: 100%;
	}
	.images h2
	{
		margin-top: 13%;
	}
	.headthreebrochure
	{
		font-size: 30px;
		text-align: center;
	}
	.download
	{
		font-size: 25px;
		padding: 2%;
	}
}

@media (max-width: 450px) {
	.application-form
	{
		padding: 0;
	}
	.application
	{
		width: 94%;
		/* height: 50vh; */
		display: block;
		flex-direction: row;
		left: 10px;
	}
	.title
	{
		padding: 3rem 5rem 3rem 5rem;
	}
	.submit-btn
	{
		margin-bottom: 10%;
		padding: 5% 25% 5% 8%;
		text-align: center;
	}
	.small-input
	{
		display: flex;
		flex-direction: column;
		margin-top: 1%;
	}
	.small-input input
	{
		width: 100%;
		margin: 1% 0%;
	}
	.brimgdiv
	{
		flex-direction: column;
	}
	.brimage
	{
		width: 100%;
	}
	.images h2
	{
		margin-top: 35%;
		font-size: 45px;
	}
	.download
	{
		padding: 4%;
	}
}